<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
    {% comment %} <link rel="shortcut icon" type="image/png" href="{% static 'assets/images/logos/favicon.png' %}" /> {% endcomment %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .card-registration .select-input.form-control[readonly]:not([disabled]) {
            font-size: 1rem;
            line-height: 2.15;
            padding-left: .75em;
            padding-right: .75em;
            }
            .card-registration .select-arrow {
            top: 13px;
            }
    </style>
</head>
<body>
    <section class="h-100 bg-dark">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
              <div class="card card-registration my-4">
                <div class="row g-0">
                  <div class="col-xl-6 d-none d-xl-block">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                      alt="Sample photo" class="img-fluid"
                      style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                  </div>
                  <div class="col-xl-6">
                    <div class="card-body p-md-5 text-black">
                      <h3 class="mb-5 text-uppercase">Checker  registration form</h3>
                      <form method="post" action="{% url 'add_checker' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div data-mdb-input-init class="form-outline">
                                    <input type="text" name="fname" id="form3Example1m" class="form-control form-control-lg" required />
                                    <label class="form-label" for="form3Example1m">First name</label>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div data-mdb-input-init class="form-outline">
                                    <input type="text" name="lname" id="form3Example1n" class="form-control form-control-lg" required />
                                    <label class="form-label" for="form3Example1n">Last name</label>
                                </div>
                            </div>
                        </div>
                
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div data-mdb-input-init class="form-outline">
                                    <input type="text" name="username" id="form3Example1m1" class="form-control form-control-lg" required />
                                    <label class="form-label" for="form3Example1m1">User Name</label>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div data-mdb-input-init class="form-outline">
                                    <input type="password" name="password" id="form3Example1n1" class="form-control form-control-lg" required />
                                    <label class="form-label" for="form3Example1n1">Password</label>
                                </div>
                            </div>
                        </div> 
                
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="text" name="address" id="form3Example8" class="form-control form-control-lg" required />
                            <label class="form-label" for="form3Example8">Address</label>
                        </div>
                
                        <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                            <h6 class="mb-0 me-4">Gender: </h6>
                
                            <div class="form-check form-check-inline mb-0 me-4">
                                <input class="form-check-input" type="radio" name="radio" id="femaleGender" value="F" required />
                                <label class="form-check-label" for="femaleGender">Female</label>
                            </div>
                
                            <div class="form-check form-check-inline mb-0 me-4">
                                <input class="form-check-input" type="radio" name="radio" id="maleGender" value="M" required />
                                <label class="form-check-label" for="maleGender">Male</label>
                            </div>
                
                            <div class="form-check form-check-inline mb-0">
                                <input class="form-check-input" type="radio" name="radio" id="otherGender" value="O" required />
                                <label class="form-check-label" for="otherGender">Other</label>
                            </div>
                        </div>
                
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="date" name="joined_date" id="form3Example9" class="form-control form-control-lg" required />
                            <label class="form-label" for="form3Example9">Joined Date</label>
                        </div>
                
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="email" name="emailid" id="form3Example97" class="form-control form-control-lg" required />
                            <label class="form-label" for="form3Example97">Email ID</label>
                        </div>
                
                        <div class="d-flex justify-content-end pt-3">
                            <button type="submit" class="btn btn-warning btn-lg ms-2">Submit form</button>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>